*{
    padding: 0!important;
    margin: 0!important;
    box-sizing: border-box !important;
}
html{
    font-family: 'Roboto', sans-serif;
}

:root{
    --sidebar: calc((100% / 12) * 2);
}

img{
    width: 100%;
}
.img-profile img{
    width: 50px;
    border-radius: 100%;
}
.container-fluid{
    height: 100vh;
    background: linear-gradient(0deg,  #D9DBD4 80%, #009688 20%); ;
}
.window{
    /* max-width: 1000px; */
    height: 90vh;
}
.people{
    width: 200px;
    background-color: aqua;
    height: 100%;
}
.list{
    height: 100%;
}

.ul-profile ul li{
    color: rgb(82, 82, 82);
    font-size: 20px;
    display: inline;
}
.body-message{
    height: calc(90vh - 110px);
    background-image: url('../img/mine.jpg');
    display: flex;
    flex-direction: column;
    align-items:center;
    flex: 1 0 60%;
}
.btn-white{
    background-color: white;
}
.keyboard{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: #F3EEEA;
}
.write{
    border: 2px solid white;
    border-radius: 1%;
}
.writer{
    background-color: #D8FCD2;
    max-width: calc((100% / 12) * 6)!important; 
    align-self: flex-end;
    border-radius: 10px;    
}
.answer{
    background-color: #ededed;
    max-width: calc((100% / 12) * 6)!important;
    align-self: flex-start; 
    border-radius: 10px;

}
.image img{
    max-height: 80px;
    max-width: 80px;
    border-radius: 100%;
}


.contact-item:active {
    background-color: #D9DBD4;
}
.lst-msg{
    font-size: .9rem;
}
.sel-red{
    background-color: red;
}
.selectednow{
    background-color: #19a38870;
}
.date{
    font-size: .8rem;
    justify-self: flex-end;
}